@model IEnumerable<Inventory.Models.Item>

@{
    ViewBag.Title = null;
}

<h2>Inventory</h2>

<p>
    @Html.ActionLink("Create New ", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.Ino }) |
            @Html.ActionLink("Remove", "Delete", new { id=item.Ino })
        </td>
    </tr>
}

</table>
